extends layout

block content
 nav.navbar.navbar-default.navbar-static-top
  .container
   .navbar-header
     a.navbar-brand(href="#") Gościna
    #navbar.navbar-collapse.collapse
     ul.nav.navbar-nav.navbar-right
      li
       a#counter
 .container
    .jumbotron
     #conversations.pad-all(style="overflow-y: auto; height:400px;")
      ul.list-unstyled.media-block#conversation
       li.mar-btm
        .media-left
         img.img-circle.img-sm(src="/images/avatar3.png", alt="Profile Picture")
        .media-body.pad-hor
         .speech
          .span.media-heading SERWER
          input#new.btn.btn-primary.btn-block.btn-lg(disabled="disabled", value="Szukam nowego Gościa...")/
 footer.footer
  .container
   .col-sm-2.col-md-2
      input.btn.btn-primary.btn-block.btn-lg#disconnect(type='button', value="Przerwij", onclick='leaveChat();')/
     .col-sm-8.col-md-8
      textarea.form-control.chat-input#data(rows="2", autofocus, placeholder='Napisz wiadomość...')
     .col-sm2-2.col-md-2
      input.btn.btn-primary.btn-block.btn-lg#datasend(type='button', value="Wyślij")/


