extends layout

block content

 #container
   .col-lg-12
    .panel
     .panel-heading
      .panel-control
       #counter
      h3.panel-title= Chat
    .col-lg-12
     #demo-chat-body
      .nano.has-scrollbar(style="height:450px;")
       .nano-content.pad-all(tabindex="0", style="right:-17px;")
        #conversations(style="overflow-y: hidden; height:400px;")
         ul.list-unstyled.media-block#conversation
    #status.col-lg-12
    .panel-footer
     .col-lg-1.col-xs-1
      input.btn.btn-primary.btn-block#disconnect(type='button', value="Rozłącz", onclick='leaveChat();')/
     .col-lg-1.col-xs-1
      input.btn.btn-primary.btn-block#clearscreen(type='button', value="Wyczyść")/
     .col-lg-8.col-xs-4
      input.form-control.chat-input#data(type='text', autofocus, placeholder='Napisz wiadomość...')/
     .col-lg-2.col-xs-1
      input.btn.btn-primary.btn-block#datasend(type='button', value="Wyślij")/
      
   

