doctype html
html
  head
    title= 'Czat by TB'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js').
    script(src='https://code.jquery.com/jquery-2.2.4.min.js').
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js').
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.2/bootstrap-slider.min.js').

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='/javascripts/client.js').
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
  body
    block content
